<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<button class="btn btn-outline-warning" style="border-radius: 20px"><%= link_to 'Edit', edit_user_path(@user) %></button>
<button class="btn btn-outline-secondary" style="border-radius: 20px"><%= link_to 'Back', users_path %></button>
